doctype html
html
	head
		title= 'chat'
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/login.js')
	body
		h1= 'login'
		p= 'please enter your id and password'
		form(name='loginForm')
			input(type='text', name='loginUserIdTextfield',value='name')
			br
			input(type='text', name='loginPasswordTextfield', value= 'password')
			br
			input(type='button',value='login', onclick='doLogin()')