extends layout

block content
	script(src="/javascripts/client.js")
	h1= title
	div#inputForm
		form(name="sampleForm")
			//- jadeのheadでscript srcでjsを読み込むことで、ここで関連付けたidが使えるようになる。
			input#text1(type="text", name="textfield")
			input#writeBtn(type="button", value="書き込み", onclick="sendTextToServer()")
			input#removeBtn(type="button", value="履歴削除", onclick="removeAllHistory()")
			br
			input(type="file", name="fileSelector", id='fileSelector')
			input(type="button", value='img send', onclick="sendImgToServer()")
		span#userName #{user.name}
		span さん、こんにちは 
	div#dataArea(style="height: 500px; overflow: scroll;")
