extends layout

block content
	include logout.jade
	script(src="/javascripts/client.js")
	h1= title
	div#inputForm
		form(name="sampleForm")
			//- jadeのheadでscript srcでjsを読み込むことで、ここで関連付けたidが使えるようになる。
			input(type="text", name="textfield", id="text1")
			input(type="button", value="書き込み", onclick="sendTextToServer()", id='writeBtn')
			input(type="button", value="履歴削除", onclick="removeAllHistory()", id='removeBtn')
			br
			input(type="file", name="fileSelector", id='fileSelector')
			input(type="button", value="img file sending", onclick="sendImgToServer()")
		p#userName= user.name + 'さん、こんにちは'
		p#socketId= 'yourId:'
	div#dataArea(style="height: 500px; overflow: scroll;")