extends layout

block content
	div(align='center')
		if user.friend
			span 「#{user.friend}」さんの検索結果です
			- delete user.friend
		table#friendTable(border-width='2', border='#ccc')
			caption friend list
			colgroup(span="2", width='5%')
			tr
				th(colspan='1')
					div.tableHead(align='center')
						span friend list 
				th(colspan='1')
					div.tableHead(align='center')
						span make friends ?
			tr
				td(colspan='1')
					div#friendlist(align='center')
						ul
						-for (var i = 0; i < length ; i++)
							- var friendName = friends[i]
							li
								| #{friendName}
				td(colspan='1') 
					div#makefriend(align='center')
						form(method= 'post', action= '/makefriend')
							ul(style="list-style:none;")
							-for (var i = 0; i < users.length; i++)
								- var name = users[i].name
								if user.name != name
									li
										| #{name}
										input(type='checkbox', for= name,　value= name, name= 'friend[' + i + ']' checked)
							br
							input(type='submit')