extends layout

block content
	div(align='center')
		table#friendTable(border-width='2', border='#ccc')
			caption friend list
			colgroup(span="2", width='5%')
			tr
				th(colspan='1')
					div.tableHead(align='center')
						span friend list 
				th(colspan='1')
					div.tableHead(align='center')
						span make friends ?
			tr
				td(colspan='1')
					div#friendlist(align='center')
						ul
						- var friendsList = friends
						-for (var i = 0; i < length ; i++)
							- var friendName = friendsList[i].name
							li
								| #{friendName}
				td(colspan='1') 
					div#makefriend(align='center')
						form(method= 'post', action= '/makefriend')
							ul(style="list-style:none;")
							-for (var i = 0; i < users.length; i++)
								- var name = users[i].name
								if user.name != name
									li
										| #{name}
										input(type='checkbox', for= name,　value= name, name= 'friend[' + i + ']')
							input(type='submit')