doctype html
html
	head
		title= title
		meta(charset="utf-8",lang="jp")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/login.css')
		//- ここでscriptとjadeを関連付ける。先にモジュールから読み込む。でないとそのモジュールを使うclientjsなどが読み込めない。
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/client.js")
	body
		block content