extends layout

block content
    div(align='center')
        p please login
        form#loginForm(method='post', action='/test')
            fieldset
                legend login
                p
                    label(for='user[name]') ユーザ名:
                    input(name='user[name]')
                p
                    label(for='user[pwd]') パスワード:
                    input(type='password', name='user[pwd]')
                input(type='submit')
        br
        p= status
        span if you will login, you will be able to use chat.

//- input(type="hidden", name="_csrf", value= '_csrf')　csrf対策。このDOMをformに入れ込む