//- a(href='#', onclick='onLogout(); return false;')[logout]
form(method='post', action='/logout')
	input(name='_method', type='hidden', value='DELETE')
	a(href='javascript:', onclick='forms[0].submit()') [logout]
//-	input(type="hidden", name="_csrf", value= '_csrf') csrf対策
