body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

div#inputForm, #dataArea {
	border-style: ridge;
	margin: 10px;
	padding: 10px;
	background-color: #bbbbbb;
	width: 60%;
}

input#text1,#writeBtn,#removeBtn,#fileSelector {
	margin: 5px;
}

p#socketId{
	margin: 5px;
	text-align: left;
}