body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

div {
	border-style: ridge;
	margin: 10px;
	padding: 10px;
	background-color: #bbbbbb;
}

input#text1,#writeBtn,#removeBtn,#fileSelector {
	margin: 5px;
}

p#socketId{
	margin:  5px;
}